body, html {
  overflow-x: hidden;
}

.form-control {
  color: #db5246;
}

section {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clear {
  clear: both;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.trans_200 {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.trans_300 {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.trans_400 {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.trans_500 {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.fill_height {
  height: 100%;
}

.super_container {
  width: 100%;
  overflow: hidden;
}

.prlx_parent {
  overflow: hidden;
}

.prlx {
  height: 130% !important;
}

.nopadding {
  padding: 0px !important;
}

.button {
  display: inline-block;
  height: 53px;
  border-radius: 27px;
  overflow: hidden;
  z-index: 1;
}

.button_bcg {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(var(--active_color)), color-stop(#8d4fff), to(var(--active_color)));
  background: linear-gradient(to right, var(--active_color), #8d4fff, var(--active_color));
  z-index: -1;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.button:hover .button_bcg {
  left: -100%;
}

.button a {
  display: block;
  font-size: 13px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  line-height: 53px;
  padding-left: 46px;
  padding-right: 46px;
  white-space: nowrap;
  z-index: 2;
}

.button span {
  display: inline-block;
  vertical-align: middle;
  width: 5.75px;
  height: 5.63px;
  background: #000;
  border-radius: 50%;
  margin-right: 2px;
}

.button span:first-child {
  margin-left: 10px;
}

.button span:nth-child(2) {
  opacity: 0.6;
}

.button span:last-child {
  opacity: 0.4;
  margin-right: 0px;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

/*********************************
3.1 Top Bar
*********************************/
.top_bar {
  width: 100%;
  height: 36px;
  background: #350a4e;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.header.scrolled .top_bar {
  visibility: hidden;
  opacity: 0;
  height: 0px;
}

.phone {
  display: inline-block;
  margin-right: 36px;
  line-height: 36px;
  font-size: 10px;
  font-weight: 600;
  color: #FFFFFF;
}

.social_list_item {
  position: relative;
  display: inline-block;
  margin-right: 3px;
}

.social_list_item:last-child {
  margin-right: 0px;
}

.social_list_item a {
  display: block;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 36px;
}

.social_list_item:hover a i {
  color: #fa9e1c;
}

.social_list_item a i {
  font-size: 12px;
  color: #FFFFFF;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.social_list_item a:hover {
  color: #FFFFFF;
}

.user_box_link {
  display: inline-block;
}

.user_box_link a {
  display: block;
  font-size: 10px;
  line-height: 36px;
  font-weight: 600;
  color: #FFFFFF;
  text-transform: uppercase;
}

.user_box_link a:hover {
  color: #fa9e1c;
}

.user_box_login {
  margin-right: 15px;
}

.user_box_login::after {
  display: block;
  position: absolute;
  top: 15px;
  right: -9px;
  background: #FFFFFF;
  width: 1px;
  height: 9px;
  content: '';
}

.main_nav_col {
  height: 143px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.header.scrolled .main_nav_col {
  height: 100px;
}

/*********************************
3.2 Logo
*********************************/
.logo_container {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.header.scrolled .logo_container {
  -webkit-transform: none;
  transform: none;
}

.logo a {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #f4f4f8;
  font-weight: 800;
  text-transform: uppercase;
}

.logo a img {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 9px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

/*********************************
3.3 Main Nav
*********************************/
.main_nav_container {
  margin-right: 221px;
}

.main_nav_item {
  position: relative;
  display: inline-block;
  margin-right: 40px;
}

.main_nav_item:last-child {
  margin-right: 0px;
}

.main_nav_item a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 10px;
}

.main_nav_item::after {
  display: block;
  position: absolute;
  left: -1px;
  bottom: -11px;
  width: calc(100% + 2px);
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(var(--active_color)), to(#8d4fff));
  background: linear-gradient(to right, var(--active_color), #8d4fff);
  content: '';
  opacity: 0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.main_nav_item:hover::after {
  opacity: 1;
}

.content_search {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  cursor: pointer;
}

.header.scrolled .content_search {
  -webkit-transform: none;
  transform: none;
}

.mag_glass {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.content_search img {
  width: 17px;
  height: 17px;
}

.content_search:hover .mag_glass {
  fill: #fa9e1c;
}

.content_search:hover .mag_glass {
  fill: #fa9e1c;
}

.search_form {
  position: absolute;
  right: 15px;
  top: 120px;
  width: 237px;
  height: 40px;
  visibility: hidden;
  opacity: 0;
}

.search_form.active {
  top: 105px;
  visibility: visible;
  opacity: 1;
}

.search_content_input {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  color: #1b0b32;
  padding-left: 20px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.bez_1 {
  -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

/*********************************
3.4 Menu
*********************************/
.hamburger {
  display: none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  cursor: pointer;
  margin-left: 20px;
}

.header.scrolled .hamburger {
  -webkit-transform: none;
  transform: none;
}

.hamburger i {
  font-size: 24px;
  color: #FFFFFF;
}

.hamburger:hover i {
  color: #fa9e1c;
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(var(--active_color)), to(#8d4fff));
  background: linear-gradient(to right, var(--active_color), #8d4fff);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}

.menu.active {
  opacity: 0.95;
  visibility: visible;
}

.menu_content {
  width: 100%;
  height: 100%;
}

.menu_item {
  position: relative;
  margin-bottom: 3px;
}

.menu_item:last-child {
  margin-bottom: 0px;
}

.menu_logo {
  margin-bottom: 28px;
}

.menu_logo a img {
  width: 40px !important;
}

.menu_item a {
  display: inline-block;
  position: relative;
  font-family: 'Beyond';
  font-size: 36px;
  color: #FFFFFF;
  font-weight: 400;
}

.menu_item a::after {
  display: block;
  position: absolute;
  top: 60%;
  left: 0;
  width: 0;
  height: 4px;
  background: #FFFFFF;
  letter-spacing: 2px;
  content: '';
  z-index: 10;
  pointer-events: none;
  -webkit-transition: all 200ms ease;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.menu_item:hover a::after {
  width: 100%;
}

.menu_close_container {
  position: absolute;
  top: 94px;
  right: 122px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu_close {
  top: 9px;
  width: 21px;
  height: 3px;
  background: #FFFFFF;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.menu_close::after {
  display: block;
  position: absolute;
  top: -9px;
  left: 9px;
  content: '';
  width: 3px;
  height: 21px;
  background: #FFFFFF;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after {
  background: #fa9e1c;
}

.home {
  width: 100%;
  height: 465px;
  background: transparent;
  position: relative;
  margin-bottom: 60px;
}

.home::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.home_background {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home_content {
  position: absolute;
  bottom: 106px;
  left: 50%;
  z-index: 9;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.home_title {
  font-size: 72px;
  font-weight: 800;
  color: #FFFFFF;
  text-transform: uppercase;
  white-space: nowrap;
}

/*********************************
6. Section Title
*********************************/
.section_title {
  font-size: 30px;
  font-weight: 700;
  color: #2d2c2c;
  margin-top: -8px;
  text-transform: uppercase;
}

.offers_icons_list {
  padding-left: 0px;
  margin-bottom: 0px;
}

.rating {
  margin-top: 10px;
}

.rating i {
  font-size: 19px;
  margin-right: 4px;
}

.rating i:last-child {
  margin-right: 0px;
}

.rating_1 i:first-child {
  color: #ffeb8d;
}

.rating_2 i:first-child {
  color: #ffeb8d;
}

.rating_2 i:nth-child(2) {
  color: #fed46b;
}

.rating_3 i:first-child {
  color: #ffeb8d;
}

.rating_3 i:nth-child(2) {
  color: #fed46b;
}

.rating_3 i:nth-child(3) {
  color: #fbb53d;
}

.rating_4 i:first-child {
  color: #ffeb8d;
}

.rating_4 i:nth-child(2) {
  color: #fed46b;
}

.rating_4 i:nth-child(3) {
  color: #fbb53d;
}

.rating_4 i:nth-child(4) {
  color: #fa9e1b;
}

.rating_5 i:first-child {
  color: #ffeb8d;
}

.rating_5 i:nth-child(2) {
  color: #fed46b;
}

.rating_5 i:nth-child(3) {
  color: #fbb53d;
}

.rating_5 i:nth-child(4) {
  color: #fa9e1b;
}

.rating_r i::before {
  font-family: "Font Awesome 5 Pro";
  content: "\f005";
  font-style: normal;
  font-size: 19px;
  margin-right: 4px;
  font-weight: 600;
}

.rating_r_1 i:first-child::before {
  color: #ffeb8d;
  content: "\f005";
}

.rating_r_2 i:first-child::before {
  color: #ffeb8d;
  content: "\f005";
}

.rating_r_2 i:nth-child(2)::before {
  color: #fed46b;
  content: "\f005";
}

.rating_r_3 i:first-child::before {
  color: #ffeb8d;
  content: "\f005";
}

.rating_r_3 i:nth-child(2)::before {
  color: #fed46b;
  content: "\f005";
}

.rating_r_3 i:nth-child(3)::before {
  color: #fbb53d;
  content: "\f005";
}

.rating_r_4 i:first-child::before {
  color: #ffeb8d;
  content: "\f005";
}

.rating_r_4 i:nth-child(2)::before {
  color: #fed46b;
  content: "\f005";
}

.rating_r_4 i:nth-child(3)::before {
  color: #fbb53d;
  content: "\f005";
}

.rating_r_4 i:nth-child(4)::before {
  color: #fa9e1b;
  content: "\f005";
}

.rating_r_5 i:first-child::before {
  color: #ffeb8d;
  content: "\f005";
}

.rating_r_5 i:nth-child(2)::before {
  color: #fed46b;
  content: "\f005";
}

.rating_r_5 i:nth-child(3)::before {
  color: #fbb53d;
  content: "\f005";
}

.rating_r_5 i:nth-child(4)::before {
  color: #fa9e1b;
  content: "\f005";
}

.rating_r_5 i:nth-child(5)::before {
  color: #ef910a;
  content: "\f005";
}

.dropdown_item_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  background-image: url(../images/dropdown.png);
  background-position: center right;
  background-repeat: no-repeat;
  border: solid 1px #FFFFFF;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.dropdown_item_select::-ms-expand {
  display: none;
}

.dropdown_item_select:hover {
  border: solid 1px #fa9e1c;
}

.dropdown_item_select:focus {
  outline-color: #fa9e1c;
}

.search_button {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 53px;
  padding-left: 46px;
  padding-right: 46px;
  background: var(--active_color);
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 40px;
}

.search_button:hover {
  opacity: 0.8;
}

.extras {
  width: 100%;
  margin-top: 42px;
}

.search_extras_item {
  width: 50%;
  float: left;
  margin-bottom: 10px;
}

.search_extras_item:nth-child(even) {
  padding-left: 20px;
}

.search_extras_item div {
  display: inline-block;
  cursor: pointer;
}

.search_extras_item div:hover .search_features_cb {
  border: 1px solid #fd784f;
}

.search_extras_checkbox {
  cursor: pointer;
}

.search_extras_cb {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 9px;
  margin-top: 2px;
  border-radius: 0px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  float: left;
}

.search_extras_cb:focus {
  outline: none;
  border: 1px solid #fd784f;
}

.search_extras_cb:checked::after {
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  content: '';
  background: var(--active_color);
}

.search_extras label {
  display: block;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  padding-left: 31px;
  margin-bottom: 0px;
  cursor: pointer;
  color: #FFFFFF;
}

.more_options {
  margin-top: 41px;
}

.more_options_trigger {
  display: inline-block;
  width: auto;
}

.more_options_trigger a {
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-left: 18px;
}

.more_options_trigger a::before {
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 10px;
  height: 10px;
  content: '+';
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 8px;
  color: #FFFFFF;
  padding-left: 1px;
}

.more_options_trigger.active a::before {
  content: '-';
  padding-left: 2px;
}

.more_options_list {
  display: block;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.more_options_list label {
  display: block;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  padding-left: 31px;
  margin-bottom: 0px;
  cursor: pointer;
  color: #FFFFFF;
}

.more_options_list li {
  margin-bottom: 10px;
}

.more_options_list.active {
  margin-top: 20px;
  opacity: 1;
}

.offers {
  width: 100%;
  padding-top: 115px;
  padding-bottom: 115px;
}

.offers_sorting {
  display: inline-block;
  padding-left: 0px;
}

.offers_sorting > li {
  display: inline-block;
  position: relative;
  width: 166px;
  height: 50px;
  font-size: 12px;
  font-weight: 700;
  color: #2d2c2c;
  text-transform: uppercase;
  line-height: 50px;
  cursor: pointer;
  border: solid 2px #dadada;
  padding-left: 25px;
  padding-right: 14px;
  margin-right: 16px;
}

.distance_item {
  width: 234px !important;
}

.offers_sorting li i {
  float: right;
  line-height: 48px;
  color: #929191;
}

.offers_sorting li ul {
  display: block;
  position: absolute;
  right: 0;
  top: 120%;
  margin: 0;
  width: 100%;
  background: #FFFFFF;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  -webkit-box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
          box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
  -webkit-transition: opacity 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-left: 0px;
}

.offers_sorting > li:hover ul {
  visibility: visible;
  opacity: 1;
  top: calc(100% + 1px);
}

.offers_sorting li ul li {
  display: block;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.offers_sorting li ul li span {
  display: block;
  height: 40px;
  line-height: 40px;
  border-bottom: solid 1px #dddddd;
  color: #51545f;
  text-align: left;
  -webkit-transition: opacity 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.offers_sorting li ul li span:hover {
  color: #b5aec4;
}

.offers_sorting li ul li:last-child span {
  border-bottom: none;
}

.offers_sorting li span:nth-child(2) {
  margin-left: 71px;
}

.offers_grid {
  width: 100%;
  margin-top: 66px;
}

.offers_item {
  width: 100%;
  margin-bottom: 55px;
}

.offers_item:last-child {
  margin-bottom: 55px;
}

.offers_image img {
  width: 100%;
}

.offers_image_container {
  width: 100%;
  height: 100%;
}

.offers_image_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.offer_name {
  position: absolute;
  left: 0;
  bottom: 27px;
  width: 180px;
  height: 33px;
  background: var(--active_color);
  overflow: hidden;
}

.offer_name a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  line-height: 35px;
  padding-left: 22px;
}

.offers_price {
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  color: var(--active_color);
  line-height: 25px;
}

.offers_price span {
  font-size: 14px;
  font-weight: 400;
  color: #929191;
  margin-left: 12px;
}

.offers_rating i::before {
  font-size: 13px;
  margin-right: 2px;
}

.offers_text {
  font-size: 14px;
  font-weight: 400;
  color: #929191;
  margin-top: 16px;
  margin-bottom: 14px;
}

.offers_icons {
  margin-top: 21px;
}

.offers_icons_item {
  display: inline-block;
  margin-right: 15px;
}

.offers_icons_item:last-child {
  margin-right: 0px;
}

.book_button {
  background: var(--active_color);
  margin-top: 39px;
  margin-bottom: -5px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.book_button:hover {
  opacity: 0.8;
}

.offer_reviews {
  position: absolute;
  top: 0;
  right: 0;
}

.offer_reviews_content {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

.offer_reviews_title {
  font-size: 12px;
  font-weight: 700;
  color: #2d2c2c;
  text-transform: uppercase;
}

.offer_reviews_subtitle {
  font-size: 12px;
  font-weight: 600;
  color: #929191;
  margin-top: 1px;
}

.offer_reviews_rating {
  display: inline-block;
  width: 62px;
  height: 57px;
  font-size: 28px;
  font-weight: 700;
  color: #000;
  line-height: 57px;
  background: var(--active_color);
  vertical-align: middle;
  border-radius: 45%;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

.nd_booking_display_table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
  margin-bottom: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f1f1f1;
  padding: 4px 4px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 3px 6px #3333333d;
          box-shadow: 0px 3px 6px #3333333d;
}

.nd_booking_display_table img {
  margin-right: 6px;
}

.nd_booking_display_table p {
  color: #a3a3a3;
  font-size: 13px;
  line-height: 20px;
}

.flex_services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex_services p {
  margin: 0 !important;
  padding: 0;
}

.cate_spans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 400;
  width: 50%;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00000073;
}

.cate_spans2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 400;
  width: 50%;
  height: 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: var(--active_color);
}

@media (max-width: 992px) {
  .offers_image_container {
    height: 340px;
    margin-bottom: 20px;
  }
  .offer_reviews {
    position: absolute;
    top: 35px;
    right: 4px;
  }
  .offers_content {
    margin-top: 40px;
  }
  .home_title {
    font-size: 50px;
  }
  .home {
    width: 100%;
    height: 400px;
    background: transparent;
    position: relative;
    margin-bottom: 60px;
  }
  .offers_sorting > li {
    width: 45% !important;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .offers_sorting > li {
    width: 100% !important;
  }
}
/*# sourceMappingURL=explor.css.map */